.inputForm {
	color: black;
    font-size: 1em;
    height: 100%;
	text-align: center;
    padding: 1.5em 0;
    background-color: hsla(0, 0%, 100%, 0.25);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.label {
    font-size: 1.4em;
}

.zipInput {
    min-height: 2.25em;
    border-radius: 0.5em;
    vertical-align: middle;
    margin-bottom: 1em;
    width: 75%;
    max-width: 20em;
}

.zipInput::placeholder {
    padding-left: 0.5em;
}

.zipSubmit {
    min-height: 1.5em;
    min-width: 5em;
    border-radius: 0.5em;
    font-size: 1em;
    vertical-align: middle;
    background-color: springgreen;
}

@media screen and (min-width: 360px){
    .zipInput {
        margin-right: 1em;
        margin-bottom: 0;
        width: 15em;
    }
}