/* The main placeholder image */
.main-placeholder {	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/assets/mountainview.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 25em;
}

.placeholder-text {
  text-align: center;
  color: white;
  font-size: 1.5em;
}