html, body, #root, .hero-text h1 {
	margin: 0;
}

body, html, #root {
	height: 100%;
}

body {
	background-color: lemonchiffon;
}

.header {
	height: 25%;
}

.input {
	padding: 1.5em 1.5em 0 1.5em;
}
