html, body, #root, .hero-text h1 {
	margin: 0;
}

body, html, #root {
	height: 100%;
}

body {
	background-color: lemonchiffon;
}

.main {
	height: 100%;
}

.navigation {
	height: 2.5em;
	background-color: #228B15;
}